.Footer {
  margin-top: 4rem;

  &-border {
    border-top: 1px solid var(--color-font-primary);
    opacity: 0.2;
    margin-bottom: 1.5rem;
  }

  &-inner {
    display: flex;
    justify-content: space-between;

    a {
      color: var(--color-font-primary);
      opacity: 0.4;

      &:hover {
        color: var(--color-primary-link);
        opacity: 1;
      }
    }
  }
}