.Footer {
  margin-top: 2rem;

  &-border {
    opacity: 0.4;
    margin-bottom: 1em;
    overflow: hidden;
    user-select: none;
  }

  &-inner {
    display: flex;
    justify-content: space-between;

    a {
      color: var(--color-font-primary);
      opacity: 0.4;

      &:hover {
        color: var(--color-primary-link);
        opacity: 1;
      }
    }
  }
}