// Light mode
:root {
  --color-bg-primary: #FFF;         
  --color-font-primary: #333;
  --color-primary-link: #FF9900;     
  --color-button-bg: #eeeeee;
  --color-button-icon: #f39c12;
}

// Dark mode
body.dark {
  --color-bg-primary: #1a1a1a;
  --color-font-primary: #f0f0f0;
  --color-primary-link: #FFBF69;
  --color-button-bg: #333333;
  --color-button-icon: #f1c40f;
}


html, body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;
  background-color: $background-color;
  color: $font-color;

  background-color: var(--color-bg-primary); 
  color: var(--color-font-primary);
  transition: background-color 0.4s, color 0.4s;

  @media (max-width: $large-screen) {
    font-size: 14px;
  }

  @media (max-width: $mid-screen) {
    font-size: 13px;
  }

  @media (max-width: $small-screen) {
    font-size: 12px;
  }
}

.Site {
  max-width: 880px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  color: var(--color-primary-link);
  text-decoration: none;

  &:hover {
    color: rgba(var(--color-primary-link), 0.8);
  }
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-weight: bold;
}

h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
