.Header {
  margin-bottom: 0.75rem;

  &-border {
    border-bottom: 1px solid var(--color-font-primary);
    opacity: 0.2;
    margin-top: 0.8rem;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    font-size: 2.2rem;
    display: flex;
    align-items: center;

    @media (max-width: $small-screen) {
      font-size: 1.8rem;
    }

    a {
      display: flex;
      align-items: center;
    }
    
    &-img {
      height: 3.8rem;

      @media (max-width: $small-screen) {
        height: 2rem;
      }
    }
  }

  &-nav {
    display: flex;
    font-size: 1.3rem;

    @media (max-width: $small-screen) {
      font-size: 1.1rem;
    }

    a {
      color: var(--color-font-primary);
      opacity: 0.4;
      margin-left: 1.5rem;

      &:hover {
        color: var(--color-primary-link);
        opacity: 1;
      }
    }
  }
}
