.Home {
  &-about {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  &-posts {
    margin-top: 3rem;
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }

    &-subtitle {
      margin-top: 2rem;
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
    }

    &-post {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;

      &-date {
        opacity: 0.8;
      }

      &-arrow {
        opacity: 0.5;
      }
    }
  }
}

.SponsorSection-header {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.SponsorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; // Two columns by default
  gap: 2rem; // Space between grid items
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 800px; /* Added: Set a max-width for the grid */
  margin-left: auto; /* Added: Center the grid horizontally */
  margin-right: auto; /* Added: Center the grid horizontally */
  justify-items: center; /* Added: Center grid items within their cells */

  @media (max-width: $mid-screen) {
    grid-template-columns: 1fr; // One column on smaller screens
  }

  &-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    
    img {
      max-width: 80%;
      height: auto;
      margin-bottom: 1rem;
      border: 0; // Remove any default image borders
    }

    h6 {
      font-size: 1rem;
      line-height: 1.4;
      margin-top: 0.5rem;
      color: var(--color-font-primary);
    }
  }
}
