:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #f0f0f0;
  /* Add other variables as needed */
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --header-bg: #1e1e1e;
  /* Dark mode overrides */
}




// Typography
$body-font: 'Source Code Pro', monospace;
$base-font-size: 16px;

// Colors
$primary-color: #FF9900;
$background-color: #FFF;
$font-color: #333;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;

@import './reset';
@import './global';
@import './header';
@import './footer';
@import './home';
@import './post';