<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="Site">
      <header class="Header">
        <div class="Header-inner">
          <div class="Header-logo">
            <a href="/">{{ config.title }}</a>
          </div>
          <nav class="Header-nav">
            <a href="/about">Sobre</a>
            <a href="/events">Eventos</a>
            <a href="/support">Apoyo</a>
            <button
              id="theme-toggle"
              aria-label="change dark/ligth mode"
            ></button>
          </nav>
        </div>
        <div class="Header-border">
          ==============================================================================================================================================================
        </div>
      </header>

      {% block content %}
      <div class="Home">
        <p class="Home-about">{{ config.description }}</p>

        <div class="Home-posts">
          <h2 class="Home-posts-title">Eventos Proximos y Recientes</h2>
          {% for page in section.pages %}
          <div class="Home-posts-post">
            <span class="Home-posts-post-date"
              >{{ page.date | date(format="%d-%m-%Y") }}</span
            >
            <span class="Home-posts-post-arrow">&raquo;</span>
            <a class="Home-posts-post-title" href="{{ page.permalink }}"
              >{{ page.title }}</a
            >
          </div>
          {% endfor %}
        </div>
      </div>
      {% endblock content %}

      <footer class="Footer">
        <div class="Footer-border">
          ==============================================================================================================================================================
        </div>
        <div class="Footer-inner">
          <div class="Footer-source">
            <a
              href="{{ config.extra.github }}"
              target="_blank"
              rel="noopener nofollow"
              >Source available on Github</a
            >
          </div>
          <div class="Footer-rss">
            <a href="/rss.xml">RSS Feed</a>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {
        const themeToggle = document.getElementById("theme-toggle");
        const body = document.body;

        if (!themeToggle) {
          console.error("El botón 'theme-toggle' no fue encontrado en el DOM.");
          return;
        }

        const STORAGE_KEY = "theme";
        const currentTheme = localStorage.getItem(STORAGE_KEY) || "light";

        body.classList.toggle("dark", currentTheme === "dark");

        themeToggle.textContent = currentTheme === "dark" ? "☀️" : "🌙";

        themeToggle.addEventListener("click", () => {
          body.classList.toggle("dark");

          const theme = body.classList.contains("dark") ? "dark" : "light";

          localStorage.setItem(STORAGE_KEY, theme);

          themeToggle.textContent = theme === "dark" ? "☀️" : "🌙";
        });
      });
    </script>
  </body>
</html>
